

.principal-2 {
    background-color: #edf8fd;
    width: 100%;
    margin-right: 0 !important;
}

.main-inner-2{
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 80%;
  padding: 5%;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  margin-bottom: 2%;
  margin-top: 2%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.my-illustration-2 {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;

}



@media all and (max-width: 850px) {
  .my-illustration-2 {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;

  }}

  .row-testimonial {
            position: absolute;
            top: 120px;
            bottom: 100px;
            left: 20px;
            width: 50%;
            overflow-x: scroll;
          }


.my-testimonial{
  width: 45%;
}


.carousel-2 {
  width:100%;
      height:250px;
      min-width:100%;
      min-height:250px;
      max-width:200px;
      max-height:250px;
      background-color: #d5e5ed  !important;
      padding: 2%;
      border: 1px solid #659dbd;
      border-radius: 10px;
      padding-top: 25px;
      padding-left: 95px;
      padding-right: 95px;

    }


    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .my-overflow {
      overflow-x: hidden;
       overflow-y: auto !important;
    }


.roles {
    background-color: #d5e5ed  !important;
    width: 100%;

      border: 1px solid #659dbd;
      border-radius: 10px;
      display: flex;

}



.role-title {
  color: #4984CC;

}
.role1 {
  width: 20%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.role2 {
  width: 65%;
  margin-right: 5% !important;
  margin-left: 5% !important;
  display: grid;
  align-content: center;
  height: 100%;
  margin-top: 3% !important;

}

.role3 {
  width: 10%;
  display: grid;
  align-content: center;
  margin-right: 3%;
  margin-top: 3%;
}


@media all and (max-width: 750px) {
  .roles {
    display: block;
   margin: auto;
   width: 100%;

  }
.role1, .role2, .role3 {
  width: 90%;
}

.role3 {
  display: inline;
}

.role1{
  width: 100%;
  margin: auto;
  float: center !important;
}

}

.subtitle-role{
  color: #4984CC;


}
.subtitle-div {
    background-color: #edf4fa  !important;
}
